obj/UninaFoodLab/uninafoodlab/target/classes/com/ufl/model/Chef.class
obj/UninaFoodLab/uninafoodlab/target/classes/com/ufl/model/Corso.class
obj/UninaFoodLab/uninafoodlab/target/classes/com/ufl/model/Pratica.class
obj/UninaFoodLab/uninafoodlab/target/classes/com/ufl/model/Studente.class
obj/UninaFoodLab/uninafoodlab/target/classes/com/ufl/model/Utente.class
